:root {
	--primary-color: #ffffff;
	--secondary-color: #000000;
	--bg-hover-color: #e0e1e2;
	--bg-inversed: #f2f3f4;
	--danger-color: #eb5729;
	--text-invesed: #999999;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, sans-serif;
	font-size: 0.875rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	font-family: "Arial", sans-serif;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	min-height: 100vh;
	position: relative;
	padding: 0.7em;
	line-height: 1.42;
}

.hero-header {
	background-color: var(--bg-inversed);
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	top: 1.8em;
	height: 4.5rem;
	max-width: min(80rem, 100% - 3.5em);
	width: 100%;
	margin-inline: auto;
	border-radius: 1.6em;
	z-index: 99999;
}

.hero-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 0.5em 0.5em 0.5em 2em;
}

.hero-nav .nav-links {
	display: none;
	gap: 0.5em;
	list-style: none;
	font-weight: bold;
}

#header-cta {
	display: none;
	transition: all 0.05s ease-in;
}

#header-cta:hover {
	scale: 0.94;
	background-color: transparent;
	color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	cursor: pointer;
}

.hero-nav .nav-links-mobile {
	display: flex;
	align-items: center;
}

.hero-nav .mobile-menu div {
	width: 2rem;
	height: 0.2rem;
	background-color: var(--secondary-color);
	border-radius: 0.2rem;
}

.hero-nav .mobile-menu {
	display: grid;
	place-content: center;
	gap: 0.4em;
	border: none;
	background-color: var(--bg-hover-color);
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
	margin-right: 1em;
}

.nav-links li {
	cursor: pointer;
}

li {
	padding: 0.7em 2em;
	border-radius: 2em;
	transition: all 0.2s ease-in;
}

.nav-links-mobile > li:hover,
li:hover {
	scale: 0.98;
	background: var(--bg-hover-color) !important;
}

li a {
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: normal;
	font-size: 1.2rem;
}

.nav-links > li:nth-child(1) {
	/*or active  */
	background: var(--bg-hover-color);
}

.nav-links-mobile > li:nth-child(1) {
	background-color: transparent;
}

.hero-logo {
	max-width: 6.5rem;
}

.hero {
	background-image: url("https://cdn.prod.website-files.com/67607873c1f6b4b02336520c/67bb466f616ced24c20a085a_bienesHero-p-2000.webp");
	height: calc(100vh - 2.4em);
	background-position: center;
	background-size: cover;
	border-radius: 1.6em;
	z-index: 99;
	position: relative;
	overflow: clip;
}

.hero::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 0;
}

#header-cta {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 2.5em;
	padding: 0.5em 1.6em;
	line-height: 2rem;
	font-size: 1.2rem;
}

.hero-content {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 30rem;
	width: 100%;
	font-weight: 500;
	display: flex;
	justify-content: center;
}

.hero-content .milestones {
	display: none;
	color: var(--primary-color);
}

.milestones h2 {
	font-size: 3em;
}

.milestones span {
	font-size: 1em;
}

.hero-content p {
	font-size: 3.5rem;
	color: var(--primary-color);
	line-height: 1.2;
	text-align: center;
}

.hero-content h1 {
	font-size: 1.2rem;
	color: var(--bg-inversed);
	text-align: center;
	margin-bottom: 0.5em;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.hero-content h1 span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: var(--danger-color);
	border-radius: 50%;
	margin-right: 0.5rem;
}

.hero-content .hero-descs span {
	font-size: 3.5rem;
	font-style: italic;
	color: var(--primary-color);
}

section {
	padding-block: 5em;
	text-align: center;
	padding-inline: 1em;
	max-width: 90rem;
	margin-inline: auto;
}

.section-title,
.about-paragraph {
	max-width: 80rem;
	margin-inline: auto;
}

.about-us .section-title {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.06em;
}
.about-us .about-paragraph {
	margin-top: 0.2em;
	font-weight: 500;
}
.about-us .about-paragraph,
.about-us .about-paragraph-gray {
	font-size: 3.3rem;
}

.about-us .about-paragraph-gray {
	color: var(--text-invesed);
}

.brands {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	justify-items: center;
	width: 100%;
	gap: 1.5rem;
}

.section-title .dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: var(--danger-color);
	border-radius: 50%;
	margin-right: 0.5rem;
}

.section-title .hero-descs p {
	max-width: 25rem;
}

.about-us .brands img {
	width: 8rem;
}
@media (min-width: 768px) {
	body {
		padding: 1.2em;
	}

	.hero-nav {
		display: flex;
	}

	.hero-header {
		top: 2.3em;
		border-radius: 2.5em;
	}

	#header-cta {
		display: flex;
	}

	.about-us .brands img {
		width: auto;
	}

	.brands {
		margin-top: 7em;
	}
}
@media (min-width: 1024px) {
	.hero::before {
		background: transparent;
	}
	.hero-nav .nav-links {
		display: flex;
	}

	.nav-links-mobile li,
	.nav-links-mobile .mobile-menu {
		display: none;
	}

	/* ========= */

	.hero-content p {
		text-align: left;
	}

	.hero-content h1 {
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: start;
		font-weight: 500;
		margin-bottom: 1.5em;
	}

	.hero-content .milestones {
		display: flex;
		flex: 1;
		align-self: end;
		width: 100%;
		gap: 3em;
	}

	.milestones span {
		font-size: 1.4em;
	}

	.hero-content .hero-descs {
		flex: 1;
	}

	.hero-descs p {
		max-width: 30rem;
	}
	.hero-content {
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 60rem;
		margin-inline: auto;
	}
}

@media (min-width: 1200px) {
	.hero-content {
		max-width: 70rem;
	}

	.hero-descs p {
		max-width: 35rem;
	}

	.hero-content .milestones {
		justify-content: space-between;
	}

	.about-us {
		padding-block: 10em;
	}
}
