:root {
	--primary-color: #ffffff;
	--secondary-color: #000000;
	--bg-hover-color: #e0e1e2;
	--bg-inversed: #f2f3f4;
	--danger-color: #eb5729;
	--text-invesed: #999999;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter, sans-serif;
	font-size: 0.875rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	font-family: "Arial", sans-serif;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	min-height: 100vh;
	position: relative;
	padding: 0.7em;
	line-height: 1.42;
}

.hero-header {
	background-color: var(--bg-inversed);
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	top: 1.8em;
	height: 4.5rem;
	max-width: min(80rem, 100% - 3.5em);
	width: 100%;
	margin-inline: auto;
	border-radius: 1.6em;
	z-index: 99999;
}

.hero-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 0.5em 0.5em 0.5em 2em;
}

.hero-nav .nav-links {
	display: none;
	gap: 0.5em;
	list-style: none;
	font-weight: bold;
}

#header-cta {
	display: none;
	transition: all 0.05s ease-in;
}

#header-cta:hover {
	scale: 0.94;
	background-color: transparent;
	color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	cursor: pointer;
}

.hero-nav .nav-links-mobile {
	display: flex;
	align-items: center;
}

.hero-nav .mobile-menu div {
	width: 2rem;
	height: 0.2rem;
	background-color: var(--secondary-color);
	border-radius: 0.2rem;
}

.hero-nav .mobile-menu {
	display: grid;
	place-content: center;
	gap: 0.4em;
	border: none;
	background-color: var(--bg-hover-color);
	padding: 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
	margin-right: 1em;
}

.nav-links li {
	cursor: pointer;
}

li {
	padding: 0.7em 2em;
	border-radius: 2em;
	transition: all 0.2s ease-in;
}

.nav-links-mobile > li:hover,
li:hover {
	scale: 0.98;
	background: var(--bg-hover-color) !important;
}

li a {
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: normal;
	font-size: 1.2rem;
}

.nav-links > li:nth-child(1) {
	/*or active  */
	background: var(--bg-hover-color);
}

.nav-links-mobile > li:nth-child(1) {
	background-color: transparent;
}

.hero-logo {
	max-width: 6.5rem;
}

.hero {
	background-image: url("https://cdn.prod.website-files.com/67607873c1f6b4b02336520c/67bb466f616ced24c20a085a_bienesHero-p-2000.webp");
	height: calc(100vh - 2.4em);
	background-position: center;
	background-size: cover;
	border-radius: 1.6em;
	z-index: 99;
	position: relative;
	overflow: clip;
}

.hero::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 0;
}

#header-cta {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 2.5em;
	padding: 0.5em 1.6em;
	line-height: 2rem;
	font-size: 1.2rem;
}

.hero-content {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 30rem;
	width: 100%;
	font-weight: 500;
	display: flex;
	justify-content: center;
}

.hero-content .milestones {
	display: none;
	color: var(--primary-color);
}

.milestones h2 {
	font-size: 3em;
}

.milestones span {
	font-size: 1em;
}

.hero-content p {
	font-size: 3.5rem;
	color: var(--primary-color);
	line-height: 1.2;
	text-align: center;
}

.hero-content h1 {
	font-size: 1.2rem;
	color: var(--bg-inversed);
	text-align: center;
	margin-bottom: 0.5em;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.hero-content h1 span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: var(--danger-color);
	border-radius: 50%;
	margin-right: 0.5rem;
}

.hero-content .hero-descs span {
	font-size: 3.5rem;
	font-style: italic;
	color: var(--primary-color);
}

section {
	padding-block: 5em;
	text-align: center;
	padding-inline: 1em;
	max-width: 90rem;
	margin-inline: auto;
}

.section-title,
.about-paragraph {
	max-width: 80rem;
	margin-inline: auto;
}

.about-us .section-title {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.06em;
}
.about-us .about-paragraph {
	margin-top: 0.2em;
	font-weight: 500;
}
.about-us .about-paragraph,
.about-us .about-paragraph-gray {
	font-size: 3.3rem;
}

.about-us .about-paragraph-gray {
	color: var(--text-invesed);
}

.brands {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	justify-items: center;
	width: 100%;
	gap: 1.5rem;
}

.section-title .dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: var(--danger-color);
	border-radius: 50%;
	margin-right: 0.5rem;
}

.section-title .hero-descs p {
	max-width: 25rem;
}

.about-us .brands img {
	width: 8rem;
}

.section-title {
	text-transform: uppercase;
	font-size: medium;
	font-weight: 400;
	margin-bottom: 1.5em;
}

.section-header,
.section-header span {
	font-size: 3rem;
}

.section-header {
	max-width: 60rem;
	margin-inline: auto;
}

.section-header span {
	font-style: italic;
}

#services-cta {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 2.5em;
	padding: 0.5em 1.6em;
	line-height: 2rem;
	font-size: 1.2rem;
	transition: all 0.2s ease;
	margin-top: 2em;
}
#services-cta:hover {
	scale: 0.94;
	background-color: transparent;
	color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
	cursor: pointer;
}

.service-flex {
	display: flex;
	align-items: center;
	gap: 2em;
	margin-top: 10em;
	max-width: min(80rem, 100% - 3.5em);
	width: 100%;
	margin-inline: auto;
}

.service-card img {
	border-radius: 20px;
	overflow: clip;
}

.service-card {
	text-align: left;
}

.service-card p {
	font-size: 1.5rem;
	margin-top: 0.8em;
}

.service-card span {
	font-size: 16px;
	color: var(--text-invesed);
}

.sell-card {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-items: center;
	width: 100%;
	margin-top: 4em;
	max-width: min(80rem, 100% - 3.5em);
}

.sell-card div {
	display: flex;
	gap: 1.2em;
	align-items: center;
	border-radius: 1.5rem;
	text-align: left;
}

.sell-card .icon {
	padding: 0;
	margin-bottom: 1rem;
}
.sell-card svg {
	color: var(--primary-color);
	background-color: var(--danger-color);
	border-radius: 100%;
}

.sell-card .icon svg {
	width: 3rem;
	height: 3rem;
}

.sell-card div p {
	font-size: 1.2rem;
	color: var(--text-invesed);
}

.sell-banner {
	max-width: min(80rem, 100% - 3.5em);
	margin-inline: auto;
	margin-top: 4.5rem;
	border-radius: 2rem;
}

.buyers-card {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem;
	max-width: min(80rem, 100% - 3.5em);
	margin-inline: auto;
	margin-top: 4rem;
}

.buyers-card .section-title,
.buyers-card .section-header {
	text-align: center;
}
.buyers-card .section-title {
	margin-bottom: 0.5rem;
}
.buyers-card .section-header,
.buyers-card span {
	font-weight: 600;
	font-size: 2.5rem;
}
.buyers-card img {
	border-radius: 2rem;
}

.buy-card {
	margin-inline: 0;
}

.buy-card div {
	display: flex;
	padding: 0;
	margin: 0;
	gap: 1.5em;
	background-color: transparent;
}

.teams-section {
	background-color: var(--bg-inversed);
	border-radius: 1.2em;
	padding-block: 1rem;
}
.teams {
	display: flex;
	flex-direction: column;
	padding: 1.5em;
	max-width: min(80rem, 100% - 3.5em);
	margin-inline: auto;
	gap: 3em;
}

.teams div {
	text-align: left;
}

.teams div p {
	margin-block: 1em;
	font-size: 1.3em;
	color: var(--text-invesed);
}

.teams .teams-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.7em;
}

.teams-image {
	overflow: hidden;
	border-radius: 1.5em;
}

.teams-grid img {
	border-radius: 1.5em;
	transition: all 0.3s ease;
}

.teams-grid img:hover {
	scale: 1.05;
}

.teams-cta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5em;
	width: 100%;
	margin-top: 1.5em;
	border-radius: 1.2em;
	padding: 1.5em;
	background-color: var(--primary-color);
	border: 1px solid #00000044;
	transition: all 0.4s ease;
}

.teams-card:hover .teams-cta {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.teams-cta p {
	margin-block: 0 !important;
}

.teams-cta div h5 {
	font-weight: 500;
	font-size: 1.3rem;
	margin-bottom: 0.3em;
}

.cta-icon svg {
	width: 3rem;
	height: 3rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 100%;
}

.review-section p {
	font-size: 1.2rem;
	color: var(--text-invesed);
}

.review-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.5rem;
	margin-top: 5.2em;
	max-width: min(80rem, 100% - 3.5em);
	margin-inline: auto;
}

.review-grid > div {
	border: 1px solid #00000018;
	border-radius: 3em;
	padding: 2em;
	text-align: left;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.review-grid > div p {
	font-weight: 600;
	font-size: 1.3rem;
}
.review-grid > div > div {
	display: flex;
	gap: 1.5em;
	align-items: center;
}
.review-grid > div > div span {
	color: var(--text-invesed);
	font-size: 1.2em;
}

.review-grid > div:nth-child(1) p,
.review-grid > div:nth-child(2) p {
	color: var(--secondary-color);
}
.review-grid > div:nth-child(2) {
	background-color: var(--bg-inversed);
}
.review-grid > div:nth-child(3) {
	background-color: var(--secondary-color);
}
.review-grid > div:nth-child(3) p {
	color: var(--primary-color);
}

.lets-talk-card-img {
	height: 25rem;
	border-radius: 2em;
	overflow: hidden;
}

.lets-talk {
	position: relative;
	padding-block: 2.5em;
}
.lets-talk-content {
	position: absolute;
	inset: 0;
	max-width: 80rem;
	margin-inline: auto;
	z-index: 10;
	color: var(--primary-color);
	text-align: center;
	padding: 1.5em;
	width: 100%;
}

.lets-talk-content h5 {
	font-size: 2rem;
	max-width: 100%;
	margin: 1em auto 0.5em auto;
}

.lets-talk-inner {
	display: flex;
	flex-direction: column;
}
.milestones-card {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 3em;
	text-align: center;
}

.milestones-card span {
	font-size: 1.4rem;
}
.milestones-header {
	font-size: 3em;
}

.lets-talk-content > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lets-talk-card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.7);
}

.contact-links {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.contact-link {
	display: flex;
	align-items: center;
	gap: 1em;
}
.contact-link .icon svg {
	width: 3rem;
	height: 3rem;
}

.contact-link svg {
	color: var(--primary-color);
	background-color: var(--danger-color);
	border-radius: 100%;
}

.contact-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2em;
	text-align: center;
}

.contact-header p {
	font-size: 1.2rem;
	color: var(--text-invesed);
}

footer {
	background-color: var(--secondary-color);
	border-radius: 2em;
	color: var(--primary-color);
}
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	padding: 5em;
}

.footer > div:first-child {
	grid-column: 1/-1;
}

.footer .socials {
	display: flex;
	align-items: center;
	gap: 1.2em;
}

.socials svg {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.footer > div ul {
	display: flex;
	flex-direction: column;
	gap: 1.3em;
}
.footer > div ul li {
	list-style-type: none;
	color: var(--text-invesed);
	font-size: 1.5em;
	padding: 0;
}
.footer > div ul li:hover {
	background-color: transparent !important;
	cursor: pointer;
	color: var(--primary-color);
}
.footer > div:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
.footer > div:nth-child(1) p {
	font-size: 1.1rem;
}
.footer > div:last-child p {
	font-size: 1.2rem;
	margin-bottom: 0.5em;
	font-weight: 500;
}

.footer-logo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	top: 0em;
	width: auto;
	max-width: 100%;
	margin-inline: auto;
	height: 10rem;
	background-image: url("https://cdn.prod.website-files.com/67607873c1f6b4b02336520c/678815d8a458224e5e0862b3_frame%20CUT.webp");
}

@media (min-width: 768px) {
	body {
		padding: 1.2em;
	}

	.hero-nav {
		display: flex;
	}

	.hero-header {
		top: 2.3em;
		border-radius: 2.5em;
	}

	#header-cta {
		display: flex;
	}

	.about-us .brands img {
		width: auto;
	}

	.brands {
		margin-top: 7em;
	}

	.service-flex {
		flex-direction: row;
	}

	.buyers-card {
		grid-template-columns: 1fr 1fr;
	}

	.buyers-card .services-cta {
		margin-right: auto;
	}
	.lets-talk {
		padding-block: 5em;
	}
	.lets-talk-card-img {
		height: 40rem;
	}
	.lets-talk-content {
		text-align: left;
		padding: 0;
	}
	.lets-talk-content h5 {
		font-size: 4rem;
		max-width: 60rem;
		margin-top: 2.5em;
		margin-inline: 0;
	}
	.milestones-header {
		font-size: 5em;
	}
	section.contact-section {
		grid-template-columns: 1fr 1fr;
		gap: 5em;
	}

	.contact-link .icon svg {
		width: 3rem;
		height: 3rem;
	}

	.contact-link p {
		color: var(--secondary-color) !important;
	}

	.contact-header {
		text-align: left;
	}

	.footer {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.footer > div:first-child {
		grid-column: 1/1;
	}

	.sell-card {
		margin-inline: auto;
	}

	.sell-card div {
		background-color: var(--bg-inversed);
		display: flex;
		flex-direction: column;
		gap: 1em;
		align-items: start;
		padding: 2.5em;
	}

	.buy-card div {
		background-color: transparent;
		flex-direction: row;
		padding: 0;
	}
}

@media (min-width: 1024px) {
	.hero::before {
		background: transparent;
	}
	.hero-nav .nav-links {
		display: flex;
	}

	.nav-links-mobile li,
	.nav-links-mobile .mobile-menu {
		display: none;
	}

	/* ========= */

	.hero-content p {
		text-align: left;
	}

	.hero-content h1 {
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: start;
		font-weight: 500;
		margin-bottom: 1.5em;
	}

	.hero-content .milestones {
		display: flex;
		flex: 1;
		align-self: end;
		width: 100%;
		gap: 3em;
	}

	.milestones span {
		font-size: 1.4em;
	}

	.hero-content .hero-descs {
		flex: 1;
	}

	.hero-descs p {
		max-width: 30rem;
	}
	.hero-content {
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 60rem;
		margin-inline: auto;
	}

	.buyers-card .section-header,
	.buyers-card span {
		font-size: 3.3rem;
		font-weight: 600;
	}

	.buyers-card .section-title,
	.buyers-card .section-header {
		text-align: left;
	}

	.teams {
		flex-direction: row;
	}

	.review-grid > div {
		height: 30rem;
	}
	.footer-logo {
		max-width: 90%;
		height: 14rem;
	}
}

@media (min-width: 1200px) {
	.hero-content {
		max-width: 70rem;
	}

	.hero-descs p {
		max-width: 35rem;
	}

	.hero-content .milestones {
		justify-content: space-between;
	}

	.about-us {
		padding-block: 10em;
	}
	.footer-logo {
		background-size: contain;
		max-width: 90%;
		height: 14rem;
	}
}

.contact-section {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3em;
	text-align: left;
	max-width: min(80rem, 100% - 3.5em);
	margin-inline: auto;
}

.contact-title {
	margin-bottom: 1em;
}

.form-container {
	background-color: var(--secondary-color);
	border-radius: 2em;
	padding: 2.5em;
}

.contact-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5em;
}

.form-group {
	display: flex;
	flex-direction: column;
	text-align: left;
	gap: 0.5em;
}

.form-group label {
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--primary-color);
}

.form-group input,
.form-group textarea {
	padding: 1em;
	border-radius: 0.5em;
	border: 1px solid #444;
	font-size: 1.05rem;
	font-weight: 500;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
	outline: 2px solid var(--primary-color);
	border-color: transparent;
}

.contact-form .services-cta {
	justify-self: start;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 2.5em;
	padding: 1em 2em;
	font-size: 1.2rem;
}

.contact-form .services-cta:hover {
	background-color: var(--bg-hover-color);
	color: var(--secondary-color);
}
